name: Build & Push Images to GHCR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [main]

  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
            -u ${{ github.actor }} --password-stdin

      - name: Build & push backend image
        run: |
          docker build \
            -f server/docker/backend.Dockerfile \
            -t ghcr.io/${{ github.repository_owner }}/rubik-backend:latest \
            .
          docker push ghcr.io/${{ github.repository_owner }}/rubik-backend:latest

      - name: Build & push frontend image
        run: |
          docker build \
            -f server/docker/frontend.Dockerfile \
            --build-arg NEXT_PUBLIC_API_URL=https://api.rubikanalytics.net \
            -t ghcr.io/${{ github.repository_owner }}/rubik-frontend:latest \
            .
          docker push ghcr.io/${{ github.repository_owner }}/rubik-frontend:latest
